<p>Useful links</p>
<a href="https://ubuntu.com/tutorials/command-line-for-beginners#3-opening-a-terminal">Terminal basics</a>
<br>
<a href="https://towardsdatascience.com/getting-started-with-git-and-github-6fcd0f2d4ac6">Git basics</a>
<br>
<a href="http://ruby-for-beginners.rubymonstas.org/">Ruby basics</a>
<br>
<a href="https://www.geeksforgeeks.org/ruby-class-object/">Making classes</a>
